<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qxg.ihandsw">

    <!-- 使用相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".IHandSwApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/UmengDefault"
        tools:replace="android:allowBackup">
        <activity
            android:name=".view.Splash.Impl.SplashActivity"
            android:theme="@style/NoStatusBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Home.Impl.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/NoStatusBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".widget.LoginDialogActivity"
            android:theme="@style/DialogActivity" />
        <activity
            android:name=".view.Card.Impl.CardActivity"
            android:theme="@style/NoStatusBarTheme" />
        <activity
            android:name=".view.Library.Impl.LibraryActivity"
            android:theme="@style/NoStatusBarTheme" />

        <activity
            android:name=".widget.LibraryWidget.ShowWebViewActivity"
            android:theme="@style/NoStatusBarTheme"
            android:screenOrientation="landscape"/>

        <activity android:name=".view.SmallTool.Impl.SmallToolActivity"
            android:theme="@style/NoStatusBarTheme"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58197b8e7666137e1c0039e5" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="98a4d94567b3734ffa323a54158a2f79"></meta-data>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cd1e7b5204eee2cdb50a33a443610400" />

        <activity
            android:name=".widget.AboutUsActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <!-- 友盟相关配置 -->
        <activity
            android:name="com.umeng.simplify.ui.activities.FeedDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.umeng.common.ui.activities.SettingActivity" />
        <activity android:name="com.umeng.common.ui.activities.AlbumActivity" />
        <activity android:name="com.umeng.common.ui.imagepicker.PhotoSelectorActivity" />
        <activity android:name="com.umeng.common.ui.imagepicker.PhotoPreviewActivity" />
        <activity
            android:name="com.umeng.common.ui.activities.MessageChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.umeng.community.login.DefaultLoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name="com.umeng.community.login.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <!-- 精简版 -->
        <activity
            android:name="com.umeng.simplify.ui.activities.FindActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.simplify.ui.activities.NewMsgActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.simplify.ui.activities.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.simplify.ui.activities.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.simplify.ui.activities.TopicDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.simplify.ui.activities.PostFeedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.common.ui.activities.LoginSimplifyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name="com.umeng.common.ui.activities.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name="com.umeng.simplify.ui.activities.FeedsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.common.ui.activities.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

    </application>

</manifest>